@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root, html, body, #root {
  width: 100%;
  height: 310vh;
  margin: none;
  padding: none;
  font-family: 'Red Hat Display', sans-serif;
  color: white;
  scroll-behavior: smooth;
}

.App{
  width: 100%;
  height: 310vh;
  margin: none;
  background-color: black;
  background-image: url(/bg.svg);
  background-repeat: repeat-x;
  background-size: cover;
  animation: toggle 80s infinite linear;
}

@keyframes toggle{
  from {
    background-position: 0%;
  }
  
  to {
    background-position: 300%;
  }
}

.projects-link, .name-and-surname, .contacts-link{
  transition: all 100ms ease-in-out;
}

.projects-link:hover, .name-and-surname:hover, .contacts-link:hover{
  background-color: #4444444f;
}

.logo{
  transition: all 100ms ease-in-out;
}

.logo:hover{
  transform: rotate(20deg);
}

.in-view{
  animation: inView 60s infinite linear;
}

@keyframes inView{
  from{
    background-color: currentColor;
  }

  to{
    background-color: #4444444f;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9f9f9f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}