@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bar-width: 30px;
  --bar-height: 6px;
  --hamburger-gap: 6px; /*square root of 2*/ 
}

html, body, #root {
  width: 100%;
  height: 300vh;
  margin: none;
  padding: none;
  font-family: 'Red Hat Display', sans-serif;
  color: white;
  scroll-behavior: smooth;
}

.App{
  width: 100%;
  height: 300vh;
  margin: none;
  background-color: black;
  background-image: url(/bg.svg);
  background-repeat: repeat-x;
  background-size: cover;
  animation: toggle 30000s linear infinite alternate;
}

@keyframes toggle{
  to {
    background-position: 100000% 0;
  }
}

.projects-link, .name-and-surname, .contacts-link{
  transition: all 100ms ease-in-out;
}

.projects-link:hover, .name-and-surname:hover, .contacts-link:hover{
  background-color: #4444444f;
}

.projects-link:active, .name-and-surname:active, .contacts-link:active{
  transform: scale(0.96);
}

.close-btn{
  transition: all 100ms ease-in-out;
}

.close-btn:hover{
  background-color: #6262624f
}

.close-btn:active{
  transform: scale(0.92);
}

.logo{
  transition: all 100ms ease-in-out;
}

.logo:hover{
  transform: rotate(20deg);
}

.logo:active{
  transform: rotate(10deg);
}

.in-view{
  animation: inView 60s infinite linear;
}

@keyframes inView{
  from{
    background-color: currentColor;
  }

  to{
    background-color: #4444444f;
  }
}

.active-nav {
  background-color: #4444444f;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9f9f9f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hamburger-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  transition: all 100ms ease-in-out;
  width: 60px;
}

.hamburger-btn:hover {
  background-color: #4444444f;
}

.hamburger-btn:active {
  transform: scale(0.92);
}

.menu-item {
  transition: all 150ms ease-in-out;
}

.menu-item:hover {
  background-color: #61748e;
}

.menu-item:active {
  transform: scale(0.96);
  background-color: #3282b8;
}

.hamburger-btn::before, .hamburger-btn::after, .hamburger-btn input {
  content: '';
  outline: none;
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: #fff;
  border-radius: 100px;
  transition: all 150ms ease-in-out;
}

.hamburger-btn input   {
  appearance: none;
  transition: opacity 150ms ease-in-out;
}

.hamburger-btn input:checked   {
  width: 0;
  opacity: 0;
}

.hamburger-btn:has(input:checked){
  
}

.hamburger-btn:has(input:checked)::before {
  width: calc(var(--bar-width)*1.2);
  transform-origin: top left;
  rotate: 45deg;
  margin-inline: auto;
  translate: 7px;
}

.hamburger-btn:has(input:checked)::after {
  width: calc(var(--bar-width)*1.2);
  transform-origin: bottom left;
  rotate: -45deg;
  translate: 7px;
}

.modal-action {
  background-color: #475569;
  transition: all 100ms ease-in-out;
  word-break: break;
}

.modal-action:hover {
  background-color: #61748e;
}

.modal-action:active {
  background-color: #3282b8;
}

/*DIVIDERS FROM https://www.shapedivider.app */

.custom-shape-divider-top-1680792285 {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  opacity: 70%;
  z-index: 0;
}

.custom-shape-divider-top-1680792285 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 92px;
}

.custom-shape-divider-top-1680792285 .shape-fill {
  fill: #1B262C;
}

/* 2ND DIVIDER */
.custom-shape-divider-top-1680793506 {
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  opacity: 70%;
  z-index: 0;
}

.custom-shape-divider-top-1680793506 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 92px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1680793506 .shape-fill {
  fill: #1B262C;
}