@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bar-width: 30px;
  --bar-height: 6px;
  --hamburger-gap: 6px;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: white;
  font-family: "Red Hat Display", "sans-serif";
}

#App {
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url(/bg.svg);
  background-repeat: repeat-x;
  background-size: cover;
  scroll-behavior: smooth;
  animation: toggle 30000s linear infinite alternate;
}

@keyframes toggle {
  to {
    background-position: 100000% 0;
  }
}

.projects-link,
.name-and-surname,
.contacts-link {
  transition: all 100ms ease-in-out;
}

.projects-link:hover,
.name-and-surname:hover,
.contacts-link:hover {
  background-color: #f5bd5465;
}

.projects-link:active,
.name-and-surname:active,
.contacts-link:active {
  transform: scale(0.96);
}

.close-btn {
  transition: all 100ms ease-in-out;
}

.close-btn:hover {
  background-color: #6262624f;
}

.close-btn:active {
  transform: scale(0.92);
}

.logo {
  transition: all 100ms ease-in-out;
}

.logo:hover {
  transform: rotate(20deg);
}

.logo:active {
  transform: rotate(10deg);
}

.in-view {
  animation: inView 60s infinite linear;
}

@keyframes inView {
  from {
    background-color: currentColor;
  }

  to {
    background-color: #4444444f;
  }
}

.active-nav {
  color: #f5bc54;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1b262c;
}

::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 90px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a2a2a2;
}

.hamburger-btn {
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  transition: all 100ms ease-in-out;
}

.hamburger-btn:hover {
  background-color: #4444444f;
}

.hamburger-btn:active {
  transform: scale(0.92);
}

.menu-item {
  background-color: #324752;
  transition: all 150ms ease-in-out;
}

.menu-item:hover {
  background-color: #61748e;
}

.menu-item:active {
  transform: scale(0.96);
  background-color: #3282b8;
}

.hamburger-btn::before,
.hamburger-btn::after,
.hamburger-btn input {
  content: "";
  outline: none;
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: #fff;
  border-radius: 100px;
  transition: all 150ms ease-in-out;
}

.hamburger-btn input {
  appearance: none;
  transition: opacity 150ms ease-in-out;
}

.hamburger-btn input:checked {
  width: 0;
  opacity: 0;
}

.hamburger-btn:has(input:checked)::before {
  width: calc(var(--bar-width) * 1.2);
  transform-origin: top left;
  rotate: 45deg;
  margin-inline: auto;
  translate: 7px;
}

.hamburger-btn:has(input:checked)::after {
  width: calc(var(--bar-width) * 1.2);
  transform-origin: bottom left;
  rotate: -45deg;
  translate: 7px;
}

.modal-action {
  background-color: #d89446;
  transition: all 100ms ease-in-out;
}

.modal-action:hover {
  background-color: #b97742;
}

.modal-action:active {
  background-color: #f5bc54;
}

#projects {
  background-color: #1b262c;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1068%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1075' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1075' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1068'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1073'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1072'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1070'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1069'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1071'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1074'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1075'%3e%3cuse xlink:href='%23SvgjsPath1069' x='30' y='30' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='30' y='90' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='30' y='150' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='30' y='210' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='30' y='270' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1072' x='30' y='330' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='30' y='390' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='30' y='450' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='30' y='510' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='30' y='570' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='90' y='30' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='90' y='90' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='90' y='150' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='90' y='210' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='90' y='270' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='90' y='330' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1072' x='90' y='390' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1072' x='90' y='450' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='90' y='510' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='90' y='570' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='150' y='30' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='150' y='90' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='150' y='150' stroke='rgba(50%2c 130%2c 184%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='150' y='210' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='150' y='270' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='150' y='330' stroke='rgba(50%2c 130%2c 184%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='150' y='390' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='150' y='450' stroke='rgba(50%2c 130%2c 184%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='150' y='510' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='150' y='570' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='210' y='30' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='210' y='90' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='210' y='150' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='210' y='210' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='210' y='270' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='210' y='330' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='210' y='390' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='210' y='450' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='210' y='510' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='210' y='570' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='270' y='30' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='270' y='90' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='270' y='150' stroke='rgba(50%2c 130%2c 184%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='270' y='210' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1072' x='270' y='270' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1072' x='270' y='330' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='270' y='390' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='270' y='450' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='270' y='510' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='270' y='570' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='330' y='30' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='330' y='90' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='330' y='150' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='330' y='210' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='330' y='270' stroke='rgba(50%2c 130%2c 184%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='330' y='330' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='330' y='390' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='330' y='450' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='330' y='510' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1072' x='330' y='570' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='390' y='30' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='390' y='90' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='390' y='150' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1072' x='390' y='210' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='390' y='270' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1072' x='390' y='330' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='390' y='390' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='390' y='450' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='390' y='510' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='390' y='570' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='450' y='30' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='450' y='90' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='450' y='150' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='450' y='210' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='450' y='270' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='450' y='330' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1072' x='450' y='390' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='450' y='450' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='450' y='510' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='450' y='570' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1072' x='510' y='30' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='510' y='90' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='510' y='150' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='510' y='210' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='510' y='270' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1072' x='510' y='330' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='510' y='390' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='510' y='450' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='510' y='510' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='510' y='570' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='570' y='30' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='570' y='90' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='570' y='150' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='570' y='210' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='570' y='270' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='570' y='330' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='570' y='390' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='570' y='450' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='570' y='510' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='570' y='570' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='630' y='30' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='630' y='90' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='630' y='150' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='630' y='210' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='630' y='270' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1074' x='630' y='330' stroke='rgba(50%2c 130%2c 184%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='630' y='390' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='630' y='450' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='630' y='510' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1070' x='630' y='570' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='690' y='30' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1072' x='690' y='90' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1072' x='690' y='150' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='690' y='210' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1071' x='690' y='270' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='690' y='330' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1073' x='690' y='390' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1072' x='690' y='450' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1069' x='690' y='510' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1072' x='690' y='570' stroke='rgba(50%2c 130%2c 184%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
  background-size: cover;
}
